.snakemake/
code/log/*
*.fastq*
*.fq*
*.fastqc*
*.html
*.zip
*.fasta*
*.fai
*.bam
*.bam*
*.bai
*.sam
*.sam*
*.log
*.vcf*
*.vcf
*.metrics.txt
*.bed
*.bed*
*.OU
*.ER
*.cov
*.args
*.beagle.gz
*.mafs.gz
*.R*
*.snakemake/
old_depth/
bedtools/plots/*
list/*
bbmap/*
copy/
ref/
angsd/*
pcangsd/*
ngsLD/*
README2.md
depth_statistics.txt
rapid.id.list
rapid.list
rapid_sample.list
README2.md
ref_clones.txt
samRAPID.txt

