.snakemake/
bbmap/*
bedtools/*
code/log/*
deDup/*
depth/*
KRAKEN2_RESULTS/*
log/*
markDup/*
raw/raw_reads/*
raw/qc/fastqc/*
raw/qc/multiqc/*
realigned/*
ref/*

GLs.md

*.fastq*
*.fq*
*.fastqc*
*.html
*.zip
*.fasta*
*.fai
*.bam*
*.bai
*.sam*
*.log
*.vcf*
*.metrics.txt
*.bed*
*.OU
*.ER
*.cov
*.args
*.beagle.gz
*.mafs.gz
*.R*
*.snakemake/
list/*
*stats*
*hist*

angsd/*
pcangsd/*
ngsLD/*

