.snakemake/
GLs.md
notes.md
*.fastq*
*.fq*
*.fastqc*
raw/qc/multiqc/*
trm/qc/multiqc/*
*.html
*.zip
*.fasta*
*.fai
*.bam*
*.bai
*.sam*
*.log
*.vcf*
*.metrics.txt
*.bed*
*.OU
*.ER
*.cov
*.args
*.arg
*.npy
*.beagle.gz
*.mafs.gz
*.snakemake/
*stats*
*hist*
*.gz
*.ml
*.pdf
*.list
*.done
*.log
*saf.gz
*saf.idx
*saf.pos.gz
*sfs*
*fst*
*Fst*
*pestPG
*thetas*
*est.ml
saf/template/
saf/TJ/
code/log/*.log
code/clusterSnakemake.pbs
config/config.yaml
config/pbs-torque/cluster.yaml
